<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Feeling</title>
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body class="page2">
  <div class="container">
    <h1>🎶 Hey there, <span id="oldFeeling"></span>!</h1>
    <p>"Do you believe in first impressions? Because I'm making a great one.🤭😝"</p>
    <label for="newFeeling">How do you feel now?</label>
    <input type="text" id="newFeeling" placeholder="Tell me Boss..." />
    <button onclick="showFinalFeeling()">Get Music Recs</button>
    <p id="resultFeeling" class="result"></p>

    <div id="predictionResults" style="margin-top: 20px;">
        <h3>Predicted Emotion: <span id="predictedEmotionSpan"></span></h3>
        <h4>Recommended Songs:</h4>
        <ul id="songList">
            </ul>
    </div>

    <div class="button-group">
        <button onclick="window.location.href='/chart'">View Emotion Chart</button>
    </div>
  </div>
  <script src="static/script.js"></script>
</body>
</html>














<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Feeling</title>
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body class="page2">
  <div class="container">
    <h1>🎶 Hey there, <span id="oldFeeling"></span>!</h1>
    <p>"Do you believe in first impressions? Because I'm making a great one.🤭😝"</p>
    <label for="newFeeling">How do you feel now?</label>
    <input type="text" id="newFeeling" placeholder="Tell me Boss..." />
    <button onclick="showFinalFeeling()">Get Music Recs</button>

    <p id="resultFeeling" class="result"></p>

    <div id="predictionResults" style="margin-top: 20px;">
        <h3>Predicted Emotion: <span id="predictedEmotionSpan"></span></h3>
        <h4>Recommended Songs:</h4>
        <ul id="songList">
            </ul>
    </div>

    <div class="button-group">
      <button onclick="window.location.href='/chart'">View Emotion Chart</button>
    </div>
  </div>
  <script src="static/script.js"></script>
</body>
</html> -->